@import '../../../../variables.scss';

.dataset-short-description {
    // show maximally 2 lines of text
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.dataset-description {
    padding-top: $margin-half;
}

.dataset-keywords {
    display: flex;
    align-items: center;

    span {
        flex-wrap: wrap;
        margin-right: $margin-half;
    }
}

.dataset-basic-information {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding-bottom: $margin-default;

    span {
        display: flex;
        align-items: center;
        margin-right: $margin-default;
    }
}