@import '../../../../variables.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-name {
        display: flex;
        align-items: center;
        gap: 0.75em;

        mat-icon {
            color: rgb(220, 220, 220);
            transform: scale(1.5);
        }
    }

    .header-buttons {
        display: flex;
        gap: 0.25em;

        color: grey;

        button:hover {
            color: black;
        }
    }
}

.deleted-state {
    display: flex;
    gap: 1em;
    
    span {
        display: flex;
        align-items: center;
        gap: 0.25em;
    }
    
    font-size: 0.7em;
    
    .crashed {
        color: red;
    }

    .undo-button {
        border-color: red;
        font-size: 1em;
    }
}

.env-names {
    display: flex;
    align-items: center;
    gap: 0.25em;

    mat-icon {
        color: rgb(220, 220, 220);
        transform: scale(1.25);
    }
}


.experiment-short-description {
    // show maximally 2 lines of text
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.experiment-description {
    padding-top: $margin-half;

    pre {
        white-space: pre-wrap;
        font-family: Roboto, "Helvetica Neue", sans-serif;
    }
}

.experiment-metrics {
    display: flex;
    align-items: center;

    span {
        flex-wrap: wrap;
        margin-right: $margin-half;
    }

    .icon {
        display: flex;
        align-items: center;
    }
}

.experiment-basic-information {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: left;

    .detail {
        display: flex;
        align-items: center;
        margin-right: $margin-default;
        margin-bottom: $margin-default;
        width: fit-content;

        .icon {
            margin-right: $margin-half;
        }
    }
}

.experiment-run-create-btn-wrapper {
    display: flex;
    gap: 1em;
    justify-content: flex-start;
    align-items: center;
}

.metric-chip {
    background-color: rgb(161, 170, 222) !important;
    opacity: 1 !important;
}