@import '../../../../variables.scss';

.create-experiment-template-form {
    width: 650px;
    display: flex;
    flex-direction: column;
}


mat-form-field {
    width: 100%;
    display: block;
}

.header-with-info {
    h4 {
        margin-top: 0;
        margin-bottom: 0;
    }
    display: flex;
    align-items: center;
    gap: 0.25em;
    margin-top: 1em;
    
    mat-icon {
        color: grey;
    }
}

.italic-editor-name {
    text-align: right;
    padding-right: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

.add-env-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;

    .empty-space {
        flex-grow: 1;
    }
    
    mat-form-field {
        width: 35%;
    }

    mat-checkbox {
        margin-bottom: 20px;
    }

    button {
        margin-bottom: 20px;
        width: 126px;
        height: 56px;
    }
}

table {
    td:last-child {
        width: 50px;
      }
}

.req-env-table {
    margin-bottom: 3em;
}

.code-editor-wrapper {
    border: 1px #ccc solid;
    padding: 5px;

    ngs-code-editor {
        height: 605px;
    }
}

.env-names {
    display: flex;
    align-items: center;
    gap: 0.25em;

    mat-icon {
        color: rgb(220, 220, 220);
        transform: scale(1.25);
    }
}