@import '../../../../variables.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-name {
        display: flex;
        align-items: center;
        gap: 0.75em;

        mat-icon {
            color: rgb(220, 220, 220);
            transform: scale(1.5);
        }
    }

    
    .header-buttons {
        display: flex;
        gap: 0.25em;

        color: grey;
        // mat-icon {
        //     color: grey;
        // }

        button:hover {
            color: black;
        }
    }
}

.env-names {
    display: flex;
    align-items: center;
    gap: 0.25em;

    mat-icon {
        color: rgb(220, 220, 220);
        transform: scale(1.25);
    }
}

.deleted-state {
    display: flex;
    gap: 1em;
    
    span {
        display: flex;
        align-items: center;
        gap: 0.25em;
    }
    
    font-size: 0.7em;
    
    .crashed {
        color: red;
    }

    .undo-button {
        border-color: red;
        font-size: 1em;
    }
}

.state {
    margin-bottom: 1em;
    margin-left: 0.5em;
    
    span {
        display: flex;
        align-items: center;
        gap: 0.25em;
    }
    
    font-size: 0.7em;
    
    .in-progress {
        color: green;
    }

    .crashed {
        color: red;
    }
}


.code {
    margin-top: 0;
    margin-bottom: 2em;

    border: 1px #ccc solid;
    display: block;
    
    width: 100%;
    max-height: 495px;

    white-space: pre-wrap;
    overflow-y: auto;
    
}

.description-section {
    pre {
        white-space: pre-wrap;
        font-family: Roboto, "Helvetica Neue", sans-serif;
    }
}

.header-with-info {
    h4 {
        margin-top: 0;
        margin-bottom: 0;
    }
    display: flex;
    align-items: center;
    gap: 0.25em;
    margin-top: 1em;
    
    mat-icon {
        color: grey;
    }
}

.data {
    padding-left: 1em;
}

.italic-editor-name {
    color: #ccc;
    text-align: right;

    padding-right: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

.upper-margin {
    margin-top: 3em;
}

.metric-chip {
    background-color: rgb(161, 170, 222) !important;
    opacity: 1 !important;
}