@import '../../../../variables.scss';

.create-experiment-form {
    width: 650px;
    display: flex;
    flex-direction: column;
}

mat-form-field {
    width: 100%;
    display: block;
}

.metrics-list {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.show-experiment-type-detail {
    margin-left: $margin-default;
}

.create-experiment-run-form {
    width: 650px;
    display: flex;
    flex-direction: column;

    .action-buttons {
        display: flex;
        justify-content: flex-start;
        margin-top: $margin-default;

        button {
            margin-right: $margin-half;
        }
    }
}
