<mat-dialog-content>
    <div class="outer-div"> 
        <div class="message">
            <pre> {{popupInput.message}} </pre>
        </div>

        <div class="buttons">
            <button class="yes-btn" mat-flat-button color="primary" (click)="yes()">{{popupInput.acceptBtnMessage ?? 'Confirm'}}</button>
            <button class="third-option-btn" mat-flat-button color="primary" 
                *ngIf="popupInput.thirdOptionBtnMessage && popupInput.thirdOptionBtnMessage.length > 0" 
                (click)="thirdOption()">{{popupInput.thirdOptionBtnMessage}}
            </button>
            <button class="no-btn" mat-stroked-button color="primary" (click)="no()">{{popupInput.declineBtnMessage ?? 'Dismiss'}}</button>
        </div>
    </div>
</mat-dialog-content>
