.outer-div {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
    font-size: 0.75em;
    text-align: center;

    pre {
        white-space: pre-wrap;
        font-family: Roboto, "Helvetica Neue", sans-serif;
    }
}

.buttons {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 2em;

    button {
        width: 150px;
        min-width: 100px;
        max-width: 150px;
        line-height: 1em;
    }

    .no-btn {
        border-color: rgb(63, 81, 181);
    }
}