@import '../../../../variables.scss';

mat-card {
    margin: $margin-default;

    mat-card-header {
        cursor: pointer;
    }

    .keywords {
        margin-top: $margin-half;
    }

    mat-chip {
        height: 24px;
        font-size: 0.8em;
        line-height: 24px;
        padding: 0 4px;
    }

    mat-card-actions {
        button {
            margin-right: $margin-half;
        }
    }
}

mat-card:hover {
    background-color: rgb(245, 245, 245);
}