@import '../../../variables.scss';

.doc-section-container {
    display: flex;
    flex-direction: row;

    .toc {
        min-width: 300px;
        flex-grow: 1;
        padding: $margin-default;
        border-left: 1px solid $aiod-black;
    }

    .doc-content-panel {
        flex-shrink: 1;
        flex-grow: 2;
        width: 100%;//500px;
    }
}

@media screen and (max-width: 1024px) {
    .doc-section-container {
        flex-direction: column;

        .toc {
            order: 1;
            padding: 0;
            border-left: none;
            margin: 0;
        }

        .doc-content-panel {
            order: 2;
        }
    }
}