@import '../../../../variables.scss';

mat-card {
    margin: $margin-default;

    mat-card-header {
        cursor: pointer;
    }

    mat-card-actions {
        button {
            margin-right: $margin-half;
        }
    }
}

.experiment-name {
    display: flex;
    align-items: center;
    gap: 0.3em;

    mat-icon {
        color: rgb(220, 220, 220);
    }
}

.state {
    margin-bottom: 1em;
    margin-left: 0.5em;
    
    span {
        display: flex;
        align-items: center;
        gap: 0.25em;
    }
    
    font-size: 0.7em;
    
    .crashed {
        color: red;
    }
}

.experiment-information {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding-bottom: $margin-default;
    margin-top: $margin-default;

    div {
        display: flex;
        align-items: center;
        margin-right: $margin-default;

        span {
            margin-right: $margin-half;
        }
    }
}