// import the variables
@import '../../../../variables.scss';

.create-dataset-form {
    width: 650px;
    display: flex;
    flex-direction: column;
}

mat-form-field {
    width: 100%;
    display: block;
}

// Indent to the left the input fields
.platform-specific-inputs {
    div {
        margin-left: $margin-double;
    }

    margin-bottom: $margin-default;
}

.coming-soon {
    color: grey;
}
