@import '../../../../variables.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-menu {
        display: flex;
        gap: 0.25em;
        color: grey;

        button:hover {
            color: black;
        }
    }
}


.logs {
    // margin-top: 0;
    // margin-bottom: 2em;

    border: 1px #ccc solid;
    display: block;
    
    max-width: 100%;
    max-height: 495px;

    white-space: pre-wrap;
    overflow-y: auto;
}

.experiment-run-details {
    table {
        tr {
            th, td {
                text-align: left;
                padding-right: $margin-default;
                padding-bottom: $margin-half;
                vertical-align: top;
            }
        }
    }
}

.status {
    display: flex;
    align-items: center;
    vertical-align: top;
    margin-right: $margin-default;
    margin-bottom: $margin-default;
    width: fit-content;

    .icon {
        margin-left: $margin-default;
    }
}

.tree-view {
    height: 500px;
    width: 100%;
    overflow: auto;

    .tree-node {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        border: 1px rgba(0, 0, 0, 0.1) solid;
    
        .download-btn {
            display: none;
        }
    }

    .tree-node:hover {
        .download-btn {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    .tree-node-directory:hover {
        background-color: rgba(0, 0, 0, 0.05);
        cursor: pointer;
    }

    .growing-space {
        flex-grow: 1;
    }

    .download-circle{
        padding-left: 0px;
        padding-right: 24px;
    }
}