@import '../../../../variables.scss';

mat-card {
    margin: $margin-default;

    mat-card-header {
        cursor: pointer;
    }

    mat-card-actions {
        button {
            margin-right: $margin-half;
        }
    }
}

.template-name {
    display: flex;
    align-items: center;
    gap: 0.3em;

    mat-icon {
        color: rgb(220, 220, 220);
    }
}

.state {
    margin-bottom: 1em;
    margin-left: 0.5em;

    span {
        display: flex;
        align-items: center;
        gap: 0.25em;
    }

    font-size: 0.7em;

    .in-progress {
        color: green;
    }

    .crashed {
        color: red;
    }
}
