// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$aiod-rail-frontend-primary: mat.define-palette(mat.$indigo-palette);
$aiod-rail-frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$aiod-rail-frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$aiod-rail-frontend-theme: mat.define-light-theme((color: (primary: $aiod-rail-frontend-primary,
        accent: $aiod-rail-frontend-accent,
        warn: $aiod-rail-frontend-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($aiod-rail-frontend-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Jura", Roboto, "Helvetica Neue", sans-serif;
}

*:not(code *) {
  font-family: "Jura", Roboto, "Helvetica Neue", sans-serif;
}


/* ================== */
/* ====== APP ======= */
/* ================== */
@import './variables.scss';
// @import '~highlight.js/style/a11y-dark.css';

/* Container used for layout of sections like Experiments, Datasets or Publications */
.section-container {
  display: flex;
  flex-direction: row;

  .left-panel {
    width: 200px;
    flex-shrink: 0;
    padding-top: $margin-default;

    a {
      width: 100%;
      justify-content: left;
    }

    a.side-menu-subitem {
      padding-left: $margin-double;
    }
  }

  .left-panel-minimized {
    width: $margin-default;
    flex-shrink: 0;
  }

  .left-panel,
  .left-panel-minimized {
    .toggle-left-sidebar {
      position: absolute;
      bottom: 50vh;
      border: 1px solid black;
      border-radius: 50%;
      background-color: white;
      cursor: pointer;
    }

    padding-right: $margin-default;
  }

  .content-panel {
    flex: 1;
    flex-shrink: 1;
    padding-right: $margin-default;
    padding-left: $margin-default;
  }

  .active {
    background-color: lightgray;
  }
}

mat-divider {
  margin-top: $margin-default !important;
  margin-bottom: $margin-default !important;
}

.form-error-message {
  color: $color-error;
  font-size: 1em;
  margin-top: 5px;
}

.loading-screen {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

td.hljs-ln-numbers {
  color: #ccc;
  border-right: 1px solid #CCC;
  padding-right: 10px !important;
}

td.hljs-ln-code {
  padding-left: 10px !important;
}

/* ================== */
/* ====== DOCS ===== */
/* ================== */
.toc {
  margin-left: $margin-default;

  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
    margin-left: none;
    cursor: pointer;
  }

  .toc-h2 {
    margin-left: $margin-default;
  }

  .toc-h3 {
    margin-left: calc(2 * $margin-default);
  }

  .toc-h4 {
    margin-left: calc(3 * $margin-default);
  }
}

markdown.fixed-height-scrollable {
  height: 300px;
  overflow-y: auto;
  display: block;
}

.doc-illustration-figure {
  width: 100%;
  max-width: 800px;
  justify-self: center;
}
