$margin-default: 16px;
$margin-half: calc($margin-default / 2);
$margin-quarter: calc($margin-default / 2);
$margin-double: calc($margin-default * 2);

$color-error: red;

$aiod-black: #000613;
$aiod-blue: #0047BB;
$aiod-light-blue: #41B6E6;
$aiod-yellow: #FFED00;
$aiod-white: #FFFFFF;

