<footer class="app-footer">
  <div class="wrap">
    <!-- COL 1: logo + CTA -->
    <div class="col-left">
      <a routerLink="/" class="brand">
        <img class="logo-light" src="/assets/logo-color.svg" alt="AiodRail logo" />
        <img class="logo-dark" src="/assets/logo-white.svg" alt="AiodRail logo dark" />
      </a>
      <div class="funding">
        <img src="/assets/eu-flag.svg" alt="Funded by the European Union" />
        <div>
          <div>Funded by</div>
          <strong>the European Union</strong>
        </div>
      </div>
    </div>

    <!-- COL 2: navigation -->
    <nav class="col-nav">
      <h4>Resources</h4>
      <a routerLink="/experiments">Experiments</a>
      <a routerLink="/datasets">Datasets</a>
      <a routerLink="/docs">Docs</a>
    </nav>

    <!-- COL 3: subscribe -->
    <section class="col-right">
      <h4>Provide Feedback</h4>
      <a href="https://forms.gle/Mf7zTcJKnT3ijnpWA" target="_blank">
        <ui-button variant="primary" size="md"> Feedback </ui-button>
      </a>
      <a target="_blank" href="https://aiod.eu/">
        <ui-button variant="ghost" size="md"> AIoD.eu </ui-button>
      </a>
    </section>
  </div>

  <div class="lower">
    <div class="container">
      <span>© AiodRail</span>
      <nav class="lower-links">
        <a href="https://aiod.eu/privacy-policy/">Privacy</a>
        <a href="https://aiod.eu/terms-conditions/">Terms</a>
      </nav>
    </div>
  </div>
</footer>
