@import '../../../variables.scss';

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.user-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-icon {
    font-size: 64px;
    height: 64px ;
    width: 64px;
}

.sign-in-out {
    width: 100%;
    margin-top: $margin-half;


    button {
        width: 100%;
    }
}